RUNBOAT_REPOS='[{"repo": "^oca/.*", "branch": "^15.0$", "builds": [{"image": "ghcr.io/oca/oca-ci/py3.8-odoo15.0:latest"}]}]'
RUNBOAT_API_ADMIN_USER="admin"
RUNBOAT_API_ADMIN_PASSWD="admin"
RUNBOAT_BUILD_NAMESPACE=runboat
RUNBOAT_BUILD_DOMAIN=runboat-builds.odoo-community.org
RUNBOAT_BUILD_SCHEME=https
RUNBOAT_BUILD_INGRESS_CLASS_NAME=nginx
RUNBOAT_BUILD_TLS_SECRET_NAME=wildcard-runboat-tls
RUNBOAT_BUILD_ENV='{"PGPORT": "5432", "PGUSER": "runboat-build"}'
RUNBOAT_BUILD_SECRET_ENV='{"PGPASSWORD": "..."}'
RUNBOAT_BUILD_TEMPLATE_VARS='{"storageClassName": "my-storage-class"}'
RUNBOAT_BUILD_LOCATIONS='[{"name":"nbg1","node_selector":{"topology.kubernetes.io/zone":"nbg1"},"env":{"PGHOST":"postgres-nbg1.runboat-builds-db.svc.cluster.local"}},{"name":"fsn1","node_selector":{"topology.kubernetes.io/zone":"fsn1"},"env":{"PGHOST":"postgres-fsn1.runboat-builds-db.svc.cluster.local"}},{"name":"hel1","node_selector":{"topology.kubernetes.io/zone":"hel1"},"env":{"PGHOST":"postgres-hel1.runboat-builds-db.svc.cluster.local"}}]'
RUNBOAT_BUILD_DEFAULT_KUBEFILES_PATH=
RUNBOAT_GITHUB_TOKEN=
RUNBOAT_LOG_CONFIG=log-config.yaml
RUNBOAT_BASE_URL=https://runboat.odoo-community.org
RUNBOAT_ADDITIONAL_FOOTER_HTML=""
